
Gabriel Grant/.ipynb_checkpoints/Matt's Checking-checkpoint.ipynb
Gabriel Grant/Matt's Checking.ipynb
Gabriel Grant/Testing/.ipynb_checkpoints/Matt's Checking-checkpoint.ipynb
Gabriel Grant/Testing/Matt's Checking.ipynb
Gabriel Grant/Testing/Matt's Script.py
Gabriel Grant/Testing/.ipynb_checkpoints/Matt's Script-checkpoint.py
Gabriel Grant/.ipynb_checkpoints/Assessment 04-checkpoint.ipynb
Gabriel Grant/Testing/.ipynb_checkpoints/block09-NeuralNetworks-checkpoint.ipynb
Gabriel Grant/Testing/block09-NeuralNetworks.ipynb
Gabriel Grant/.ipynb_checkpoints/Assessment 04 V2-checkpoint.ipynb
Gabriel Grant/X_test.pkl.gz
Gabriel Grant/X_train.pkl.gz
Gabriel Grant/Y_test.pkl.gz
Gabriel Grant/Y_train.pkl.gz
Gabriel Grant/.ipynb_checkpoints/dropout-checkpoint.py
Gabriel Grant/.ipynb_checkpoints/dropouttest-checkpoint.ipynb
Gabriel Grant/.ipynb_checkpoints/no_hidden-checkpoint.py
Gabriel Grant/.ipynb_checkpoints/nohidden-checkpoint.sh
Gabriel Grant/.ipynb_checkpoints/nohide-checkpoint.ipynb
Gabriel Grant/.ipynb_checkpoints/nohide-checkpoint.py
Gabriel Grant/HPC/nohide.log
Gabriel Grant/.ipynb_checkpoints/Assessment 04 Analysis-checkpoint.ipynb
